<!-- form handling -->
<form action="/api/products" method="POST" id="add_product">
    <div class="new_product">
        <div class="form-group">
            <label for="productname" class="text-light">Tên sản phẩm</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="productname" value="" placeholder="Tên sản phẩm">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Giá</label>
            <input type="number" name="price" value="" min = 0 placeholder="">
        </div>
        <div class="form-group">
            <label for="thuonghieu" class="text-light">Thương hiệu</label>
            <input type="text" name="thuonghieu" value="" placeholder="thuonghieu">
        </div>
        <div class="form-group">
            <label for="khoiluong" class="text-light">Khối lượng</label>
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="khoiluong" value="0,5kg">
                    <label for="radio-4" class="radio-label">0,5kg</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-5" name="khoiluong" value="1kg">
                    <label for="radio-5" class="radio-label">1kg</label>
                </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Trạng thái</label>
                 <div class="radio inline">
                    <input type="radio" id="radio-2" name="status" value="Dang kinh doanh">
                    <label for="radio-2" class="radio-label">Đang kinh doanh</label>
                 </div>
                 <div class="radio inline">
                    <input type="radio" id="radio-3" name="status" value="Het hang">
                    <label for="radio-3" class="radio-label">Hết hàng</label>
                </div>
        </div>

        <div class="form-group">
            <label for="huongvi" class="text-light">Hương vị</label>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="huongvi" value="Cookies & cream">
                <label for="radio-6" class="radio-label">Cookies & cream</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="huongvi" value="Strawberry">
                <label for="radio-7" class="radio-label">Strawberry</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-8" name="huongvi" value="Cafe mocha">
                <label for="radio-8" class="radio-label">Cafe mocha</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-9" name="huongvi" value="Chocolate fudge">
                <label for="radio-9" class="radio-label">Chocolate fudge</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-10" name="huongvi" value="Frozen banana">
                <label for="radio-10" class="radio-label">Frozen banana</label>
            </div>
        </div>

        <div class="form-group">
            <label for="img" class="text-light">Hình ảnh minh họa</label>
            <input type="text" name="img" value="" placeholder="https://">
        </div>

        <div class="form-group">
            <label for="soluong" class="text-light">Số lượng</label>
            <input type="number" name="soluong" value="" min = 0 placeholder="">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    
    </div>
</form>